@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
  font-weight: 800;
}

.post {
  margin-top: 30px;
  border: 1px solid #b4b4b4;
  border-radius: 5px;
  height: 480px;
  width: 420px;
  display: flex;

  .post-status {
    height: 100%;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3cc083;
    i {
      font-size: 20px;
      color: white;
    }
  }
  .post-overview {
    margin: 0 20px;
    height: 100%;
    width: 100%;
    p {
      color: #b4b4b4;
      font-size: 15px;
    }
    .actions {
      text-align: right;
      margin-top: 10px;
      margin-bottom: 10px;

      i {
        font-size: 15px;
        color: #b4b4b4;
        margin-left: 10px;
      }
    }
    .account {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      .image {
        .pp {
          height: 50px;
          border: 1px solid #b4b4b4;
          border-radius: 3px;
        }
        i {
          color: #0274b3;
          position: relative;
          right: 15px;
          top: 5px;
          background-color: white;
          display: inline-block;
          border-radius: 50%;
          box-shadow: 0px 0px 2px #888;
          padding: 0.2em 0.3em;
        }
      }

      .date {
        margin-left: 5px;
        small {
          color: #b4b4b4;
        }
      }
    }
    .cat {
      height: 200px;
      display: block;
      margin: 15px auto 30px auto;
      border-radius: 5px;
    }
    .post-statics {
      display: flex;
      i {
        display: flex;
        margin-right: 20px;
        font-size: 15px;
        color: #b4b4b4;

        p {
          margin-left: 5px;
        }
      }
    }
  }
}
